.register-page {
    text-align: left;
    justify-content: center;
}

.login-page {
    text-align: left;
    justify-content: center;
}

.submit {
    text-align: center;
}
.submit button {
    background-color: #ABC357;
    padding: 0.5rem 2rem;
    width: auto;
    max-width: 240px;
    color: white;
    margin-top: 1rem;
    justify-content: center;
}

.submit button:hover {
    background: #7E6F88;
    padding: 0.5rem 2rem;
    width: auto;
    max-width: 240px;
    color: white;
}

.wordspacing {
    word-spacing: .1rem;
}

.nonemargin {
    margin: 0;
}

.marginbottom {
    margin-bottom: 2%;
}

.margintop{
    margin-top: 1%;
}