/*menu*/
.main button{
    background-color: #ABC357;
    padding: 1vh;
    width: 20vh;
    margin: 1vh;
    color: darkslategrey;
}

.main button:hover{
    background: #CEBCD2;
}

.leftBar button{
    background-color: #ABC357;
    padding: 0.5rem 1rem;
    width: auto;
    max-width: 240px;
    margin: 0.5rem;
    color: darkslategrey;
}

.leftBar button:hover {
    background-color: #CEBCD2;
    padding: 0.5rem 1rem;
    width: auto;
    max-width: 240px;
    margin: 0.5rem;
    color: darkslategrey;
}

.align-left {
    display: flex !important;
    justify-content: left !important;
}
/*posts*/
.pagination button {
    background-color: transparent;
    width: 0;
    color: darkslategrey;
}

/*profile*/
.title{
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem 1rem;
    border-radius: 0.4rem;
}
.profile button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkslategray;
    padding: 1vh;
    margin: 1vh;
    color: #ABC357;
}

.profile button:hover {
    background: #ABC357;
    color: #F4F2DC;
}

.camera button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkslategray;
    padding: 1vh;
    margin: 1vh;
    color: #ABC357;
}

.camera button:hover {
    background: #ABC357;
    color: #F4F2DC;
}

.location button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkslategray;
    padding: 1vh;
    margin: 1vh;
    color: #ABC357;
}

.location button:hover {
    background: #ABC357;
    color: #F4F2DC;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.group button{
    background-color: white;
    padding: 0.5vh;
    width: 15vh;
    margin: 0.5vh;
    color: darkslategrey;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: medium;
    justify-content: flex-start;
}

.group button:hover {
    background: #F3F0F3;
}

.group .button-with-icon {
    display: flex;
    align-items: center;
}

.option button{
    background-color: transparent;
    width: 0;
    color: darkslategrey;
}

.option button:hover{
    background-color: transparent;
}

.option button svg:hover{
    background-color: #F3F0F3;
    border-radius: 50%;
    color: darkslategray;
}
